<div class="notifications-index">
    <h3 class="sub-title">通知</h3>
        <% if @notifications.present? %>
            <% @notifications.each do |notification| %>
                <% notification.update_attributes(check: true) %>
                    <div class="notifications">
                        <div class="notification">
                            <div class="notification-content_black">
                                <%= test_2(notification).html_safe %><span class="moderate-font"><%= " (#{time_ago_in_words(notification.created_at)} ago)" %></span>
                            </div>
                        </div>
                    </div>
            <% end %>
        <% end %>
    <%= paginate @notifications %>
</div>