
<div class="home-top">
    <div class="item">
        <h1 class="text-center" style="display: none">About this app</h1>
        <br>
        <p id="hoge" style="display: none">このWebサービスは服好き、古着の方向けに作られました。
                                            このサービスの目的は服好き、古着の方が交流機会を与えることです。
                                            使い方は、自分の新しく手に入れたビンテージアイテムやコレクションを写真に撮り自慢したり、
                                            このサービスであった方とお友達になったり、メッセージのやりとりをすることです。
                                            また、お友達になった方とイベントを開くこもできます。その際の宣伝等にも使えます。
                                            楽しんでお使い下さい。
                                            </p>
    </div>
</div>


<script>
    $(document).on('turbolinks:load', function() { 
        $('h1').fadeIn(1000);
        $('#hoge').fadeIn(3000);
    });
  
</script>