<h1 class= "text-center">イベント編集</h1>
<br>
<br>

<div class='post-edit'>
    <div class='post-edit2'>
        <% if @event.image? %>
    <div class="post-edit-image text-center">
        <%= image_tag @event.image.to_s %>
    </div>
<br>
        <% end %>


<%= render 'form' %>
    </div>
</div>

