<h1 class= "text-center">投稿編集</h1>
<br>
<br>

<div class='post-edit'>
    <div class='post-edit2'>
        <% if @post.image? %>
    <div class="post-edit-image text-center">
        <%= image_tag @post.image.to_s %>
    </div>
<br>
        <% end %>


<%= render 'form' %>
    </div>
</div>