/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self.
 *= require font-awesome
 */
 
 
 
 
.my-page{
    margin-top: 50px;
}

.ul, li{
    list-style-type: none;
}


.number-alarm{
    color: red;
}


/*post一覧*/
.posts-index-item{
　padding: 20px 30px;
　overflow: hidden;
　background-color: white;
　
}

.posts-left{
    float: left;
    width: 100px;
    height: 100px;
}

.posts-right{
    padding : 25px 25px 25px 0px;
    font-size: 18px;
}

.posts-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.posts-middle {
   padding-left: 30px; 
   padding-bottom: 70px;
   margin-top: 30px;
}

.post-show-item {
    background-color: #fff;
    margin: 40px auto;
    width:500px;
}

.post-show-image{
    
}

.item-name {
    margin: 20px 0px 50px 0px;
}


.posts-content {
    font-size: 15px;
}


.user-name {
    font-size: 20px;
}


.post-show-item1{
    
}

.post-show-content p {
    font-size: 15px;
}

.posts-middle {
    font-size: 15px
}



.post-time{
    text-align: right;
}

.form-error {
  color: #ff4d75;
}

.form-body{
    padding: 30px;
}

.my-form {
    width: 500px;
}

.post-time {
  color: #8899a6;
  margin-bottom: 10px;
}

.posts-index-item {
   background-color: white;
   padding: 20px 30px;
   overflow: hidden;
   box-shadow: 0 2px 6px #c1ced7;
}



/*いいね*/

.like-btn {
  color: #8899a6;
}
.like-btn-unlike {
  color: #ff2581;
}

.posts-edit-imag {
    padding: 50px;
}

/*投稿に対するchat*/

.chat {
    background-color: #F5F5F5;
    margin: 40px auto;
    padding: 20px 30px;
　  overflow: hidden;
}

.chat-h {
    padding-top: 30px;
}

chat img {
    width: 10px;
}

/*user詳細ページ*/

.user {
  width: 100px ;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}


    /*font-weight: bold;*/

.users-show {
  margin-top: 40px;
}

.users-show img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.users-image {
      width: 80px;
      height: 80px;
      border-radius: 40%;
      box-shadow: 0 2px 6px #c1ced7;
      object-fit: cover;
}

.user-show-btn {
    
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs a {
  display: inline-block;
  padding :16px 20px 16px 10px;
}

.user-tabs input {
 margin-top: 10px;
  
}

.user-tabs li.active a {
    color: #57575f;
}

.user-tabs li.active {
    border-bottom: 2px solid #3ecdc6;
}

.friend a {
    margin: 0px 30px 0px 0px;
  
}

.content-box {
     width: 90%;
     height: 130px;
     box-shadow: 0 2px 6px #c1ced7;
     padding: 20px 20px 20px 35px;
     text-align: left;
}

.content-box2 {
    font-size: 12px;
}


/*chat機能*/
.url-chat :hover {
    /*display: inline-block;*/
    background-color: #EEEEEE; /* 背景色をグレー（#c9c9c9）にする */
    
}

.url-chat a {
    display: block;
}


.chat-index {
　 background-color: white;
   padding: 20px 30px;
   overflow: hidden;
   box-shadow: 0 2px 6px #c1ced7
}

.chat-user {
    font-size: 18px;
    display: inline-block;
    margin-left: 10px;
}


.chat-image {
    display: inline-block;
}

.chat-image img{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    /*box-shadow: 0 2px 6px #c1ced7;*/
    object-fit: hidden;
}

.chat-user-name{
     display: inline-block;
}


.chat-talk{
    display: inline-block;
}





/*フォロー機能*/
.following {
    margin: 5px auto 0px;
}
.following-user {
    padding: 15px 10px;
    box-shadow: 0 2px 6px #c1ced7;
}
/*おおおや*/
.f-2 {
    display: flex;
    align-items: stretch;
}

.f-3 {
    flex-direction: row;
}

.f-image {
    margin: 0px 8px 10px;
    justify-content: flex-start;
    
}

.following img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    box-shadow: 0 2px 6px #c1ced7;
    object-fit: cover;
}

.f-detail {
    display: flex;
    flex-direction: column;
}

.f-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin: 0px 5px;
}


/*ボタンとmore-detail*/
.f-btn {
    
}


.f-btn a {
     width: 94px;
    object-fit: hidden;
    margin-left: 10px;
}

f-btn input {
     width: 94px;
    object-fit: hidden;
    margin-left: 10px;
} 

.f-content {
    padding-top:  5px;
    font-size: 15px;
    font-weight: 40px;
}








.r-f {
    margin-top: 10px;
  
}


/*myarea*/

.myarea-header {
    margin: 100px auto 30px;
}

.new p {
    margin: 40px auto 30px;
}


.already li {
     margin: 40px auto 30px;
     font-size: 20px;
     width: 180px;
}





/*.ol {
    list-style:decimal;
}*/